# COMP5318 - Machine Learning and Data Mining

## Tutorial 01 - Introduction to Python

**Semester 2, 2019**

**Objectives:**

* To develop basic Python 3 programming skills.
* To become familiar with commonly used Python libraries.
* To understand the similarity of Python to other programming languages.


**Instructions:**
* Exercises to be completed on IPython notebook such as: 
   * Ipython 3 (Jupyter) notebook installed on your computer http://jupyter.org/install (you need to have Python installed first https://docs.python.org/3/using/index.html )
   * Web-based Ipython notebooks such as Google Colaboratory https://colab.research.google.com/ 
   
* If you are using Jupyter intalled on your computer, Go to File->Open. Drag and drop "lab1.ipynb" file to the home interface and click upload. 
* If you are using Google Colaboratory, Click File->Upload notebook, and and upload "lab1.ipynb" file
* Complete exercises in "lab1.ipynb".
* To run the cell you can press Ctrl-Enter or hit the Play button at the top.
* Complete all exercises marked with **TODO**.
* Save your file when you are done with the exercises, so you can show your tutor next week.

Lecturers: Nguyen Hoang Tran 

Tutors: Fengxiang He, Shaojun Zhang, Fangzhou Shi, Yang Lin, Iwan Budiman, Zhiyi Wang, Canh Dinh, Yixuan Zhang, Rui Dong, Haoyu He, Dai Hoang Tran

## 1. Printing

In [1]:
"""
Introduction to Python
Tutorial 1
"""

print(5) #note for python 2.7 users: use print 5

d = {'apple':10, 'pear':20,'orange':10, 'berry': 'sold out'}
d['banana'] = 30
print(d)
values = set([d[key] for key in d.keys()])
print(values)

# use %debug to see which lines of chunk cause errors
#exit debug using exit command
# use control and slash together to comment out multiple lines

5
{'apple': 10, 'pear': 20, 'orange': 10, 'berry': 'sold out', 'banana': 30}
{10, 20, 30, 'sold out'}

In [2]:
print(1, 16, 1/16, 'text') #note for python 2.7 users: 1/16 -> 0 in python 2.7

1 16 0.0625 text

In [3]:
print( '1 divided by 16 is %f' % (1/16) )
print( '1 divided by 16 is %.2f' % (1/16) )
print( '1 divided by 16 is %.2f and 1 divided by 32 is %.2f' % (1/16, 1/32) )

1 divided by 16 is 0.062500
1 divided by 16 is 0.06
1 divided by 16 is 0.06 and 1 divided by 32 is 0.03

## 2. Numbers and Variables

String, integer, float and bool (logical) variables are ubiquitous data types in Python.

In [0]:
var1 = 'Welcome to COMP5318' #alternative: you may use double quotation marks as in  "Welcome to COMP5318"
print(var1, ' is ',type(var1)) 

var2 = 10
print(var2, ' is ',type(var2))

var3 = 10.0 #alternative: 10.
print(var3, ' is ',type(var3))

var4 = True 
print(var4, ' is ',type(var4))

## 2. Lists 
A list is a mutable, i.e. values can be changed (add/delete/update), sequence. Since each element has a fixed position, an index which starts from  0 can be used access elements. Although it can contain any type of variable, using heterogeneous variables is not customary. There are immutable data structures such as "tuples" and unordered data structures such as "sets" that we do not discuss in this tutorial.

In [0]:
#For students familiar with MATLAB, indexing and length of  arrays can be tricky.

seq = [2, 10, 20, 30, 50, 80, 130, 210, 340]

print('seq = ', seq)
print('seq[0] = ', seq[0])
print('seq[3] = ', seq[3])
print('seq[0:3] = ', seq[0:3]) #alternative: seq[:3]
print('seq[3:6] = ', seq[3:6])
print('seq[-1] = ', seq[-1])
print('seq[3:-3] = ', seq[3:-3])

**Exercise 2.1**

Use $len()$ to calculate the length (number of elements) of lists.

**Exercise 2.2**

Use $.append()$ to add an element to the end of a list.

For more methods of list objects such as $.sort(), .count(), .reverse()$ refer https://docs.python.org/2/tutorial/datastructures.html.
Note that lists can be used as queues with some of these methods.

In [0]:
fruitSalad = ['Banana', 'Cantaloupe', 'Apple', 'Tomato']
print(fruitSalad)

fruitSalad.remove('Tomato')
fruitSalad.append('Papaya')
fruitSalad.append('Grapes')
print(fruitSalad)

print('Strawberry' in fruitSalad)

## 4. Arithmetic Operators

In [0]:
x = 10
y = 20
z = x + y
print('x=%d, y=%d, z=%d' % (x, y, z)) #alternative for printing: print('x=',x, 'y=',y, 'z=',z)

**Exercise 4.1**
Identify the use of following arithmetic operators.  $+, -, *, /, \%, **, // $

In [0]:
#string operations
firstName = 'Alan'
lastName = 'Turing'
fullName = firstName + ' ' + lastName
print(fullName)

## 5. Relational and Logical Operators

Relational operators are used to identify the relationship between two entities (e.g. variables) and the output is either True or False.

In [0]:
print(20>10)

**Exercise 5.1**
Identify the use of following relational operators.  $==, !=, >, <, >=, <=$

In [0]:
x = 2
y= 1.1*(x**2) - 15*x - 20
if y>0:      
    print('y is positive')
else:
    print('y is non-positive')

In [0]:
x = 2
y= 1.1*(x**2) - 15*x - 20
if y==0:
    print('y is zero')
elif y>0:
    print('y is positive')
else:
    print('y is negative')

In [0]:
x = 10
a, b = -15, 15
if x>a and x<b: #alternative: a<x<b
    print('In range!')
else:
    print('Out of range!')

**Exercise 5.2**

Identify the use of following logical operators: $\mathrm{and, or}$ and $\mathrm{ not}$

## 6. Math Library 

This can be considered as the generic library for mathematics in python.

In [5]:
import math

theta = 2*math.pi
y = math.cos(theta)**2 + math.sin(theta)**2
print(y)

#use tab to autocomplete
#math.a will add further suggestions

1.0

AttributeError: ignored

## 7. Iterations

In [0]:
sum_var = 0
for i in range(10): #alternative: range(0,10,1)
    sum_var = sum_var + i #: alternative sum_var += i
print(sum_var)

In [0]:
x = [10, 20, 30, -35, 5.5]
sum_var = 0
for i in x:
    sum_var = sum_var + i
print(sum_var)

**Exercise 7.1**
Append the above program to add all positive numbers in list x.

In [0]:
x = [i for i in range(10)]
print(x)

y = [i**2 for i in x] # or [i**2 for i in range(10)]
print(y)

**Exercise 7.2**
Let $\mathbf{x} = [3, 1, 2, 4]$ and $\mathbf{y} = [1, 2, 1, 2]$. Calculate the similarity between $\mathbf{x}$ and $\mathbf{y}$ using,

1) Cosine similarity defined as $\mathsf{sim}_{dot}(\mathbf{x,y})  = \mathbf{x \cdot y/||x|| ||y||}$

2) Eucledian distance (a.k.a $\mathsf{L}^2$ distance) defined as $\mathsf{sim}_{Euc}(\mathbf{x,y})  = \| \mathbf{x} - \mathbf{y}\|_2 = \sqrt{\sum_{i=1}^{N} ( x_i - y_i)^2}$

(Refer to lecture 1).

In [0]:
TODO

## 8. Plotting with Matplotlib Library

In [0]:
import math
import matplotlib.pyplot as pl
%matplotlib inline 

t = [i/50 for i in range(501)] #generate values from 0 to 10
f = 1 
y = [math.sin(2*math.pi*f*i)*math.exp(-0.5*i) for i in t] # y = sin(2Pi*f*t)*exp(-t/2)
pl.scatter(t,y)
pl.title('Damped Sine Wave with %.1f Hz frequency' % f)
pl.xlabel('t (s)')
pl.ylabel('y')
pl.grid()
pl.show()

**Exercise 8.1**
Change *pl.scatter* to *pl.plot*.

**Exercise 8.2**
Highlight data points, s.t. $|y|>0.5$ in a different marker colour.

## 9. Data Structures

**Exercise 9.1** (Demanding question)
Given a list of words, group all of them based on the following similarity metric.


\begin{equation}   
  \mathsf{sim(word_1, word_2)} = \left\{
  \begin{array}{@{}ll@{}}
    1, & \text{if letters in only } \mathsf{word_1} \text{ are used to form } \mathsf{ word_2 } \text{ and vice versa } \textit{(iff)}\\
    0, & \text{otherwise}
  \end{array}\right.
\end{equation}

E.g. 'arts', 'rats', 'star', 'tars' and 'start' are similar words.

Choose an appropriate data structure and analyze computational complexity of your algorithm.

In [0]:
word_list = ['arts', 'rats', 'star', 'tars', 'start', 'pat', 'allergy', 'lager', 'largely', 'regally', 'apt', \
             'potters', 'tap', 'bluest', 'tap', 'bluets', 'retraced', 'gallery','bustle', 'sublet', 'subtle', 'grab']

TODO
    
#Note: Keys in a dictionary are immutable 
#Note: If the word list is a big dataset, size of the dictionary (number of keys) is enormous (< 1 million entries).

Notes: Additionally, read about anagram, regular expressions, grep command and Jaccard similarity

Python:
* object-oriented
* dynamically typed
* interpeted (not compiled)
* functional programming is possible with map(), reduce(), etc.

## Next week

* Why generic python lists are less suitable for linear algebraic calculations?
* Introduction to numpy and scipy libraries.
* Matrix decomposition